.footer {
    line-height: 1.6;
    font-size: 13px;
    font-weight: 400;
    background-color: #df0024;
    color: white;
    margin: 0px auto;
    text-align: center;
}


.footer__titulo {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__logos {
    display: inline-block;
    padding: 10px;
}

.fa-facebook-official {
    color: white;
}

.fa-instagram {
    color: white;
}



.column__conTexto {
    display: inline-block;

   
    }
